package components

templ Index() {
	@Layout() {
		<main>
			<div class="text-5xl flex-row flex items-center my-40 font-serif">
				Welcome to the work before the <span class="italic font-bold pl-2 ">Job!</span>
			</div>
			<div class="w-full flex items-center justify-center">
				@MacUI() {
				}
			</div>
		</main>
	}
}
