package components

templ NavBar() {
	<div>
		<span class="grid justify-items-start p-4 text-lg">
			<a
				href="/"
			>
				Full⏱️Job
			</a>
		</span>
	</div>
	<div class="grid justify-items-center content-start">
		{ children... }
	</div>
}
